<div class="container text-center">
    <div class="alert alert-success">
        Submited Success
        <br> <br>
        FirstName: {{submited_user.f_name}}<br>
        SecondName: {{submited_user.s_name}}<br>
        Email: {{submited_user.email}}<br>
        Password: {{submited_user.pass}}<br>
        Address: {{submited_user.adress}}<br>
        Phone: {{submited_user.phone}}<br>
        Gender: {{submited_user.gender}}<br>
    </div>
</div>
<br><br>
<div class="text-center">
  <a [routerLink]="['']">Submit another user</a>
</div>
